
body{
	font-family: 'Roboto', sans-serif;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;    
    border-bottom-color: red;
 	letter-spacing: 2px;
 	font-size: 12px;
	
}
.navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

.htmlbg:hover{
	box-shadow: 0 15px 10px rgba(255, 144, 44, 0.3);
   transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.cssbg:hover{
	box-shadow: 0 15px 10px rgba(35, 224, 255, 0.2);;
   transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.jsbg:hover{
	box-shadow: 0 15px 10px rgba(216, 181, 44, 0.3);
   transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.resbg:hover{
	box-shadow: 0 15px 10px rgba(210, 161, 255, 0.4);
   transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

main{
	padding-top: 100px;
}

.coverpic{
	position: absolute;
	margin: 0px;
}

.logo{
	margin-top: 15px;
}

.name{
	font-weight: 50;
}

.bg-2{
	 background-color: #4C4C4C; /* Dark Blue */
      color: #F3F2F2;
      padding-top: 5px;
      font-family: roboto;
}

.pad{
	padding-top: 30px;
	padding-bottom: 20px;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}


.navb{
	border-radius: 0px;
	background-color: white;
	margin-bottom: 0px;
	 padding: 18px;
}

.card-1 {
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.5s cubic-bezier(.25,.8,.25,1);
 }
 
 .card-1:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   transition: 0.5s;
 }
 
 /*social colors*/
 .git-tool{
 	margin-right: 15px;
 	color: white;
	 }
	
.git-tool:hover,.git-tool:focus{
 	color: #000;
  }

.fb-tool{
 	margin-right: 15px;
 	color: white;
 }
 .fb-tool:hover,.fb-tool:focus{
	color: #2e5cb8;
}

.ins-tool{
 	margin-right: 15px;
 	color: white;
 }
 .ins-tool:hover,.ins:focus{
 	color: #ff0066;
 }
 .dart-tool{
 	margin-right: 15px;
 	color: white;
 }
 .dart-tool:hover,.ins-tool:focus{
 	color: #33cc33;
 }
  
 .linkd-tool{
 	margin-right: 15px;
 	color: white;
 }
 .linkd-tool:hover,.linkd-tool:focus{
 	color: #0099cc;	
 }

.me{
	border-radius: 300px;
	height: 300px;
	width: 300px;
	 display: block;
  margin-left: auto;
  margin-right: auto;
	
}

.medesc{
	margin-top: 110px;
	
}

.bgmo{
	padding-right: 0px;
	padding-left: 0px;
}

#mee{
	font-family: 'Quicksand', sans-serif;
}

/*---Skills--*/

.htmlbg{
	color: #fff;
	background:  #ff944d;
	max-width: 100%;
	padding: 12px 0 7px 0;
}

.cssbg{
	color: #fff;
	background: #80dfff;
	max-width: 100%;
	padding: 12px 0 7px 0;
}
.jsbg{
	color: #fff;
	background: #ffd633;
	max-width: 100%;
	padding: 14px 0 5px 0;
}
.resbg{
	color: #fff;
	background: #aa80ff;
	max-width: 100%;
	padding: 14px 0 5px 0;
}

.niit{
	max-width: 100%;
	margin: 0 auto;
	height: 40px;
	width: 250px;
}
.niitbg{
	background: #f2f2f2;
}

.gniit{
	max-width: 100%;
	height: 50px;
	width:100px;
}

.padbot{
    padding-bottom: 30px;
}
@media screen and (max-width: 500px){
	.me{
		border-radius: 300px;
	height: 200px;
	width: 200px;
	 display: block;
  margin-left: auto;
  margin-right: auto;
	}
     .logo{
        float: left;
        padding-top: 10px;
    }
    .medesc{
        font-size: 20px;
    }
    .bottomline{
    	margin-bottom: 0;
    	margin-top: 0;
    	font-size: 12px;
    	padding-bottom: 12px;
    	padding-top: 10px;
    }
    .socialmob{
    	align-self: center;
    }
}

@media screen and (min-width: 1900px){

}

.contact{
   font-family: 'Quicksand', sans-serif;   
}

@media screen and (max-width: 998px){
	.logo{
		float: left;
		width: 80px;
		height: 80px;
	}
	.bottomline{
    	margin-bottom: 0;
    	margin-top: 0;
    	font-size: 12px;
    	padding-bottom: 12px;
    	padding-top: 13px;
    }
}

@media screen and (max-width: 500px){
	.name{
		font-size: 25px;
		padding-top: 5px;
	}
	.contact{
		font-size: :25px;
		
	}
	.navb{
	border-radius: 0px;
	background-color: white;
	margin-bottom: 0px;
	 padding: 5px;
}
	main{
	padding-top: 80px;
}

.paded{
	padding-top: 17px;
	padding-bottom: 17px;
}

}
