
body{
	font-family: 'Roboto', sans-serif;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;    
    border-bottom-color: red;
}



main{
	padding-top: 100px;
}

.coverpic{
	position: absolute;
	margin: 0px;
}

.logo{
	margin-top: 15px;
}

.name{
	font-weight: 50;
}

.bg-2{
	 background-color: #4C4C4C; /* Dark Blue */
      color: #F3F2F2;
      padding-top: 5px;
      font-family: roboto;
}

.pad{
	padding-top: 30px;
	padding-bottom: 20px;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

.navb{
	border-radius: 0px;
	background-color: white;
	margin-bottom: 0px;
	 padding: 18px;
}


.me{
	border-radius: 300px;
	height: 300px;
	width: 300px;
	 display: block;
  margin-left: auto;
  margin-right: auto;
	
}

.medesc{
	margin-top: 110px;
	
}

.bgmo{
	padding-right: 0px;
	padding-left: 0px;
}

#mee{
	font-family: 'Quicksand', sans-serif;
}




.padbot{
    padding-bottom: 30px;
}
@media screen and (max-width: 500px){
	.me{
		border-radius: 300px;
	height: 200px;
	width: 200px;
	 display: block;
  margin-left: auto;
  margin-right: auto;
	}
     .logo{
        float: left;
        padding-top: 10px;
    }
    .medesc{
        font-size: 20px;
    }
}

.contact{
   font-family: 'Quicksand', sans-serif; 
   
}

@media screen and (max-width: 998px){
	.logo{
		float: left;
		width: 80px;
		height: 80px;
	}
}




@media screen and (max-width: 500px){
	.name{
		font-size: 25px;
		padding-top: 5px;
	}
	.contact{
		font-size: :25px;
		
	}
	.navb{
	border-radius: 0px;
	background-color: white;
	margin-bottom: 0px;
	 padding: 5px;
}
}

.paded{
	padding-top: 17px;
	padding-bottom: 17px;
}


